Repository chatwoot/chatwoot, pull requests merged in 2025-08, with the labels that each got.

#12108 feat: add support to embedded whatsapp coexistence method
  app/javascript/dashboard/i18n/locale/en/inboxMgmt.json
  app/javascript/dashboard/routes/dashboard/settings/inbox/channels/WhatsappEmbeddedSignup.vue
  app/javascript/dashboard/routes/dashboard/settings/inbox/channels/whatsapp/utils.js
  app/services/whatsapp/facebook_api_client.rb
  app/services/whatsapp/webhook_setup_service.rb
  app/views/super_admin/app_configs/show.html.erb
  config/installation_config.yml
  spec/services/whatsapp/webhook_setup_service_spec.rb
Labels: 💬 channel/whatsapp

#11980 fix: Error shouldn't halt the campaign for entire audience
  app/services/sms/oneoff_sms_campaign_service.rb
  app/services/twilio/oneoff_sms_campaign_service.rb
  app/services/whatsapp/oneoff_campaign_service.rb
  spec/services/sms/oneoff_sms_campaign_service_spec.rb
  spec/services/twilio/oneoff_sms_campaign_service_spec.rb
  spec/services/whatsapp/oneoff_campaign_service_spec.rb
Labels: codex

#11997 feat: Enhanced WhatsApp template support with media headers
  app/services/whatsapp/populate_template_parameters_service.rb
  app/services/whatsapp/providers/whatsapp_360_dialog_service.rb
  app/services/whatsapp/providers/whatsapp_cloud_service.rb
  app/services/whatsapp/template_parameter_converter_service.rb
  app/services/whatsapp/template_processor_service.rb
  spec/services/whatsapp/oneoff_campaign_service_spec.rb
  spec/services/whatsapp/providers/whatsapp_cloud_service_spec.rb
  spec/services/whatsapp/send_on_whatsapp_service_spec.rb
  spec/services/whatsapp/template_parameter_converter_service_spec.rb
  swagger/definitions/request/conversation/create_message_payload.yml
Labels: 💬 channel/whatsapp

#12147 feat: add migration files for assignment v2
  app/models/account_user.rb
  db/migrate/20250806140000_create_assignment_policies.rb
  db/migrate/20250806140001_create_inbox_assignment_policies.rb
  db/migrate/20250806140002_create_agent_capacity_policies.rb
  db/migrate/20250806140003_create_inbox_capacity_limits.rb
  db/migrate/20250806140004_add_agent_capacity_policy_to_account_users.rb
  db/migrate/20250806140005_create_leaves.rb
  db/schema.rb
Labels: assignment_v2

#12168 fix: Improve WhatsApp template message error handling
  app/services/whatsapp/oneoff_campaign_service.rb
  app/services/whatsapp/providers/base_service.rb
  app/services/whatsapp/providers/whatsapp_360_dialog_service.rb
  app/services/whatsapp/providers/whatsapp_cloud_service.rb
  app/services/whatsapp/send_on_whatsapp_service.rb
  spec/services/whatsapp/oneoff_campaign_service_spec.rb
  spec/services/whatsapp/providers/whatsapp_cloud_service_spec.rb
Labels: 💬 channel/whatsapp

#12117 feat: WhatsApp enhanced templates front end changes
  app/javascript/dashboard/components-next/Campaigns/Pages/CampaignPage/WhatsAppCampaign/WhatsAppCampaignForm.vue
  app/javascript/dashboard/components-next/NewConversation/components/ActionButtons.vue
  app/javascript/dashboard/components-next/NewConversation/components/ComposeNewConversationForm.vue
  app/javascript/dashboard/components-next/NewConversation/components/WhatsAppOptions.vue
  app/javascript/dashboard/components-next/NewConversation/components/WhatsappTemplate.vue
  app/javascript/dashboard/components-next/whatsapp/WhatsAppTemplateParser.vue
  app/javascript/dashboard/components/widgets/conversation/WhatsappTemplates/TemplateParser.vue
  app/javascript/dashboard/components/widgets/conversation/WhatsappTemplates/TemplatesPicker.vue
  app/javascript/dashboard/helper/specs/templateHelper.spec.js
  app/javascript/dashboard/helper/templateHelper.js
  app/javascript/dashboard/i18n/locale/en/whatsappTemplates.json
  app/javascript/dashboard/store/modules/inboxes.js
  app/javascript/dashboard/store/modules/specs/inboxes/getters.spec.js
  app/javascript/dashboard/store/modules/specs/inboxes/templateFixtures.js
  app/javascript/shared/mixins/specs/whatsappTemplates/whatsappTemplates.spec.js
Labels: 💬 channel/whatsapp

#12199 feat: Add assignment policies controllers with jbuilder views
  app/controllers/api/v1/accounts/assignment_policies/inboxes_controller.rb
  app/controllers/api/v1/accounts/assignment_policies_controller.rb
  app/controllers/api/v1/accounts/inboxes/assignment_policies_controller.rb
  app/models/account.rb
  app/models/assignment_policy.rb
  app/models/inbox.rb
  app/models/inbox_assignment_policy.rb
  app/policies/assignment_policy_policy.rb
  app/views/api/v1/accounts/assignment_policies/_assignment_policy.json.jbuilder
  app/views/api/v1/accounts/assignment_policies/create.json.jbuilder
  app/views/api/v1/accounts/assignment_policies/inboxes/create.json.jbuilder
  app/views/api/v1/accounts/assignment_policies/inboxes/index.json.jbuilder
  app/views/api/v1/accounts/assignment_policies/index.json.jbuilder
  app/views/api/v1/accounts/assignment_policies/show.json.jbuilder
  app/views/api/v1/accounts/assignment_policies/update.json.jbuilder
  app/views/api/v1/accounts/inboxes/assignment_policies/create.json.jbuilder
  app/views/api/v1/accounts/inboxes/assignment_policies/show.json.jbuilder
  config/features.yml
  config/locales/en.yml
  config/routes.rb
  enterprise/app/models/enterprise/concerns/assignment_policy.rb
  spec/controllers/api/v1/accounts/assignment_policies/inboxes_controller_spec.rb
  spec/controllers/api/v1/accounts/assignment_policies_controller_spec.rb
  spec/controllers/api/v1/accounts/inboxes/assignment_policies_controller_spec.rb
  spec/enterprise/models/assignment_policy_spec.rb
  spec/factories/assignment_policies.rb
  spec/factories/inbox_assignment_policies.rb
  spec/models/assignment_policy_spec.rb
Labels: assignment_v2

#12200 feat: Add agent capacity controllers
  config/locales/en.yml
  config/routes.rb
  enterprise/app/controllers/api/v1/accounts/agent_capacity_policies/inbox_limits_controller.rb
  enterprise/app/controllers/api/v1/accounts/agent_capacity_policies/users_controller.rb
  enterprise/app/controllers/api/v1/accounts/agent_capacity_policies_controller.rb
  enterprise/app/models/agent_capacity_policy.rb
  enterprise/app/models/enterprise/concerns/account.rb
  enterprise/app/models/enterprise/concerns/account_user.rb
  enterprise/app/models/inbox_capacity_limit.rb
  enterprise/app/policies/agent_capacity_policy_policy.rb
  enterprise/app/views/api/v1/accounts/agent_capacity_policies/create.json.jbuilder
  enterprise/app/views/api/v1/accounts/agent_capacity_policies/inbox_limits/create.json.jbuilder
  enterprise/app/views/api/v1/accounts/agent_capacity_policies/inbox_limits/update.json.jbuilder
  enterprise/app/views/api/v1/accounts/agent_capacity_policies/index.json.jbuilder
  enterprise/app/views/api/v1/accounts/agent_capacity_policies/show.json.jbuilder
  enterprise/app/views/api/v1/accounts/agent_capacity_policies/update.json.jbuilder
  enterprise/app/views/api/v1/accounts/agent_capacity_policies/users/create.json.jbuilder
  enterprise/app/views/api/v1/accounts/agent_capacity_policies/users/index.json.jbuilder
  enterprise/app/views/api/v1/models/_agent_capacity_policy.json.jbuilder
  spec/enterprise/controllers/api/v1/accounts/agent_capacity_policies/inbox_limits_controller_spec.rb
  spec/enterprise/controllers/api/v1/accounts/agent_capacity_policies/users_controller_spec.rb
  spec/enterprise/controllers/api/v1/accounts/agent_capacity_policies_controller_spec.rb
  spec/enterprise/models/agent_capacity_policy_spec.rb
  spec/enterprise/models/inbox_capacity_limit_spec.rb
  spec/factories/agent_capacity_policies.rb
  spec/factories/inbox_capacity_limits.rb
Labels: assignment_v2

#12279 feat: add ops task to purge orphan conversations
  lib/tasks/ops/cleanup_orphan_conversations.rake
Labels: codex
